body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.felicidades::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 10vw;
  top: 0;
  width: 78%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../public/duck-spinning.gif');
  background-repeat: repeat;
}
.felicidades > p {
  z-index:9999;
}